*{
    margin: 0px;
    padding: 0px;
}

body{
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.navbar__s1__title{
    color: #A435F0;
    align-items: center;
}

.navbar__s2{
    display: flex;
    gap: 10px;
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 40%;
    align-items: center;
}

.navbar__s2 input{
    font-size: 16px;
    border: none;
    width: 100%;
    background-color: transparent;
}

.navbar__s2 input:focus{
    outline: none;
}

.navbar__s3{
    display: flex;
    gap: 20px;
    padding: 10px;
    align-items: center;
    cursor: pointer;

}

.navbar__s3 button{
padding: 10px;
border-color: #6D28D2;
border-radius: 10px;
color: #6D28D2;
cursor: pointer;
}

.navbar__s3 button:hover{
background-color: lightgrey;
}

.mylearning{
    position: relative;
    cursor: pointer;
}

.mylearning__popup{
    position: absolute;
    background-color: white;
    border: solid black 1px;
    top: 150%;
    padding: 20px;
    right: 0;
display: none;
}

.mylearning:hover .mylearning__popup{
    display: block;

}
.categories{
    display: flex;
    padding: 10px;
    border-bottom: solid black 1px;
    justify-content: space-around;
}

.categories p{
    background-color: #A435F0;
    color: white;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    border: solid #A435F0 1px;
}

.categories p:hover{
    transition: 1s;
    background-color: transparent;
    color: black;
    border: solid #A435F0 1px;
}

.sale-image{
    position: relative;
}

.sale-image__offer{
width: 35%;
border: solid red 3px;
background-color: white;
border-radius: 30px;
padding: 2%;
position: absolute;
top: 25%;
left: 10%;
animation-name: zoom;
animation-duration: 2s;
opacity: 0;
animation-fill-mode: forwards;
}

@keyframes zoom{
0%{
transform: scale(0);
opacity: 0;
}
100%{
transform: scale(1);
opacity: 1;
}
}

.sale-image__dot1{
    width: 30px;
    height: 30px;
    border: solid red 3px;
    border-radius: 30px;
    background-color: black;
    position: absolute;
    top: 40%;
    left: 50%;
    animation-name: zoom3;
    animation-duration: 1s;
opacity: 0;
animation-fill-mode: forwards;
}
 @keyframes zoom3{
0%{
transform: scale(0);
opacity: 0;
}
100%{
transform: scale(1);
opacity: 1;
}
 }
.sale-image__dot2{
    width: 14px;
    height: 14px;
    border: solid red 3px;
    border-radius: 30px;
    background-color: black;
    position: absolute;
    top: 43%;
    left: 53%;
animation-name: zoom2;
    animation-duration: 1.5s;
opacity: 0;
animation-fill-mode: forwards;
}

@keyframes zoom2{
0%{
transform: scale(0);
opacity: 0;
}
100%{
transform: scale(1);
opacity: 1;
}
 }

.sale-image__dot3{
    width: 10px;
    height: 10px;
    border: solid red 3px;
    border-radius: 30px;
    background-color: black;
    position: absolute;
    top: 45%;
    left: 55%;
animation-name: zoom1;
    animation-duration: 2s;
opacity: 0;
animation-fill-mode: forwards;
}

@keyframes zoom1{
0%{
transform: scale(0);
opacity: 0;
}
100%{
transform: scale(1);
opacity: 1;
}
 }

.sale-image{
    width: 100px;

}

.recommended{
    padding: 10px;
}

.recommended__container{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.course-card{
    width: 260px;
}

.course-card img{
    height: 50%;
    width: 100%;
}

.topics{
    padding: 10px;

}

.topics_container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.topics_container p{
    border: solid grey 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}

.popular{
    padding: 10px;
}

.popular__container{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.footer{
    padding: 30px;
    background-color: black;
    color: white;
}

.footer__one{
    display: flex;
    gap: 10px;
}

.footer__one p{
    margin: 20px;
}

.footer__two{
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
